<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.yeblog.dao.BlogMapper">

    <select id="pageBlogInfo" parameterType="com.tao.yeblog.model.qo.BlogQO"
            resultType="com.tao.yeblog.model.dto.BlogDTO">
      select t1.blogid blodId,
      t1.userid userId,
      t2.name userName,
      t1.columnid columnId,
      t3.name columnName,
      t1.title title,
      t1.type type,
      t1.enable enable,
      t1.content content,
      t1.cover cover
      from blog t1
      left join blog_user t2 on t1.userid = t2.id
      left join column t3 on t1.columnid = t3.columnid
    </select>

    <update id="updateBlogInfo" parameterType="com.tao.yeblog.model.dto.BlogDTO">
      update blog t
      <set>
        <if test="enable != null and enable != ''">
          t.enable = #{enable}
        </if>
      </set>
      where 1=1
      <if test="blogId != null and blogId != ''">
        t.blogid = #{blogId}
      </if>
    </update>

</mapper>
