<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.yeblog.dao.BlogMapper">

    <select id="pageBlogInfo" parameterType="com.tao.yeblog.model.qo.BlogQO"
            resultType="com.tao.yeblog.model.dto.BlogDTO">
      select t1.name name,
      t1.sex sex,
      t1.loginid loginId,
      t1.lastlogip lastLogIp,
      t1.lastlogtime lastLogTime,
      t1.userphoto userPhoto,
      t1.regtime regTime,
      t1.phone phone,
      t1.email email,
      t1.enable enable,
      t1.reason reason,
      count(t1.id) blogCount
      from blog_user t1
      left join blog t2 on t1.id = t2.userid
    </select>

    <update id="updateBlogInfo" parameterType="com.tao.yeblog.model.qo.UserQO">
      update blog_user t
      <set>
        <if test="enable != null and enable != ''">
          t.enable = #{enable}
        </if>
      </set> enable = '0'
      where 1=1
      <if test="loginId != null and loginId != ''">
        t.loginid = #{loginId}
      </if>
    </update>

</mapper>
